extends ../../components/tenfoot_layout

block title
    h2 Welcome
        .subtitle Select a service to continue

block content
    link(rel="stylesheet" href="/styles/menu10foot.scss")
    section.menu10foot
