extends ../components/tenfoot_layout

block title
    h2 Welcome
        .subtitle Select a service to continue

block content
    link(rel="stylesheet" href="/styles/menu10foot.scss")
    section.menu10foot
        .menu10foot-card(tabindex="0" role="button" data-service="stregsystem")
            .menu10foot-icon 💵
            .menu10foot-title Stregsystem
            .menu10foot-description Browse our collection of wares

        .menu10foot-card(tabindex="1" role="button" data-service="songbook")
            .menu10foot-icon 🎼
            .menu10foot-title Songbook
            .menu10foot-description Browse our collection of songs

        .menu10foot-card(tabindex="2" role="button" data-service="events")
            .menu10foot-icon 📅
            .menu10foot-title Events
            .menu10foot-description List upcoming events

        .menu10foot-card(tabindex="3" role="button" data-service="links")
            .menu10foot-icon 🌐
            .menu10foot-title Links
            .menu10foot-description Look at nice links

        .menu10foot-card(tabindex="4" role="button" data-service="exit")
            .menu10foot-icon ➜]
            .menu10foot-title Exit
            .menu10foot-description Leave 10-foot display
