include components/core

doctype html
html(lang="en")
    +head(`Front page - ${manifest.short_name}`)
    body
        p Hello this is #{manifest.name}
        +scripts
        a(href="pages/offline.pug") Offline