extends  ../../components/page_layout
block head
    link(rel="stylesheet" href="/styles/songbook.scss")
    script(type="module", src="/scripts/songbook.ts")
block content
    h1 Songbook
    input.search#search
    +vspace("25px")
    .links.border-outer#links
