
block content
    h1 Songbook
    div(id="song_list", class="song_list")
        a(href='./songs/alleminevenner.html') Alle mine venner #[br]
        a(href='./songs/enpædagogiskvise.html') En pædagogisk vise #[br]
        a(href='./songs/jinglebellrock.html') Jingle Bell Rock #[br]
        a(href='./songs/hvemsidderforanskaermen.html') Hvem sidder foran skærmen #[br]
        a(href='./songs/veteranensnostalgiskesang.html') Veteranens nostalgiske sang #[br]
        a(href='./songs/allesomaendergladeforpiger.html') Alle sømænd er glade for piger #[br]
        a(href='./songs/danskenssandeglæde.html') Danskens sande glæde #[br]
        a(href='./songs/whiskeyinthejar.html') Whiskey in the jar #[br]
        a(href='./songs/tiljulebalinisseland.html') Til julebal i Nisseland #[br]
        a(href='./songs/santaclausiscomingtotown.html') Santa Claus is Coming to Town #[br]
        a(href='./songs/puffdenmagiskedrage.html') Puff den magiske drage #[br]
        a(href='./songs/vierikkehumanister.html') Vi er ikke humanister #[br]
        a(href='./songs/hjemmebraenderiet.html') Hjemmebrænderiet #[br]
        a(href='./songs/denroedetraad.html') Den røde tråd #[br]
        a(href='./songs/sandhans.html') SandHans #[br]
        a(href='./songs/etbarnerfoedtibethlehem.html') Et barn er født i Bethlehem #[br]
        a(href='./songs/ienlillebaaddergynder.html') I en lille båd der gynger #[br]
        a(href='./songs/svanteslykkeligedag.html') Svantes lykkelige dag #[br]
        a(href='./songs/tinepingvin.html') Tine Pingvin #[br]
        a(href='./songs/meyersvise.html') Meyers Vise #[br]
        a(href='./songs/mcarine.html') McArine #[br]
        a(href='./songs/etsidstefarvel.html') Et sidste farvel #[br]
        a(href='./songs/matmatik.html') Ma´matik #[br]
        a(href='./songs/hvalenhvalborg.html') Hvalborg #[br]
        a(href='./songs/regnsangen.html') Regnsangen #[br]
        a(href='./songs/sorenbenjomus.html') Søren Banjomus #[br]
        a(href='./songs/enmandfaldtnedfrafoerstesal.html') En mand faldt ned fra første sal #[br]
        a(href='./songs/kringsattavfiender.html') Til Ungdommen #[br]
        a(href='./songs/jegsaajulemandenkyssemor.html') Jeg så julemanden kysse mor #[br]
        a(href='./songs/drunkenboand.html') Drunken BoAnd #[br]
        a(href='./songs/enmegetnostalgiskvise.html') En meget nostalgisk vise #[br]
        a(href='./songs/drunkensailor.html') Drunken Sailor #[br]
        a(href='./songs/påcassiopeiatilfoobar.html') På Cassiopeia til FooBar #[br]
        a(href='./songs/glaedeligjul.html') Glædelig Jul #[br]
        a(href='./songs/joanna.html') Joanna #[br]
        a(href='./songs/paaloftetsiddernissenmedsinjulegrod.html') På loftet sidder nissen med sin julegrød #[br]
        a(href='./songs/forureningsvisen.html') Forureningsvisen #[br]
        a(href='./songs/livet.html') Livet #[br]
        a(href='./songs/viharlejrbaalher.html') Vi har lejrbål her #[br]
        a(href='./songs/elskabssang.html') Elskabssang #[br]
        a(href='./songs/costadelsol.html') Costa Del Sol #[br]
        a(href='./songs/dereretoelrigtland.html') Der er et ølrigt lang #[br]
        a(href='./songs/dumaafaaminccompilernaajegdor.html') Du må få min C-compiler når jeg dør #[br]
        a(href='./songs/brightsideoflife.html') Bright side of life #[br]
        a(href='./songs/krabbeboand.html') BoAnd #[br]
        a(href='./songs/introduktionsvise.html') Introduktionsvise #[br]
        a(href='./songs/langtfrahjemmetudenøl.html') Langt fra hjemmet uden øl #[br]
        a(href='./songs/skipperklementsmorgensang.html') Skipper Klements morgensang #[br]
        a(href='./songs/himmelhunden.html') Himmelhunden #[br]
        a(href='./songs/denlillegroennefroe.html') Den lille grønne frø #[br]
        a(href='./songs/busters.html') Buster #[br]
        a(href='./songs/dervarenskikkeligbondemand.html') Der var en skikkelig bondemand... #[br]
        a(href='./songs/derernogetgaltidanmark.html') Der er noget galt i Danmark #[br]
        a(href='./songs/resultateraffklubbensafgangsprøve.html') Resultater af F-klubbens afgangsprøve #[br]
        a(href='./songs/bubbibjorn.html') Bubbibjørn #[br]
        a(href='./songs/maalrettedevise.html') En målrettet vise #[br]
        a(href='./songs/lilleprinsesse.html') Lille prinsesse #[br]
        a(href='./songs/masserafcc.html') Masser af CC #[br]
        a(href='./songs/julemadogdrikke.html') Julemad og drikke---dur for nissen ikke #[br]
        a(href='./songs/dat62.html') DAT62(1/2)80 Slagsang #[br]
        a(href='./songs/fytteturssangen.html') Fytteturssangen #[br]
        a(href='./songs/danskenssandeglaede.html') Danskens sande glæde #[br]
        a(href='./songs/letitsnow.html') Let it snow #[br]
        a(href='./songs/imagine.html') Imagine #[br]
        a(href='./songs/frujensenfratolne.html') Fru Jensen fra Tolne #[br]
        a(href='./songs/jegerennoerd.html') Jeg er en nørd #[br]
