extends  ../../components/base_layout.pug
block head
    link(rel="stylesheet" href="/styles/songbook.scss")
block content
    h1 Songbook
    .links.border-outer
        each key in Object.keys(songs)
            a(href=songs[key])
                .border-inner
                    p=key
