mixin head(page_title)
    head
        title #{page_title}
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block

mixin scripts
    script(type="module" src="scripts/index.ts" defer async)
    block