include core

block pug_meta

- const title = typeof page_title === 'string' ? `${page_title} - ${app_name}` : app_name;

doctype html
html(lang="en")
    +head(title)
        link(rel="stylesheet" href="/styles/tenfoot.scss")
    body
        header.header-with-logo
            .logo-title-container
                .logo-wrapper
                    img.logo(src="/media/flogo_w.svg" alt="Logo")
                .title-wrapper
                    h1= app_name
                    block title

        main
            if show_load_indicator
                #loading-indicator.spinner
                    img(width="200" src="/media/fstjerne.svg")

            .nav-hint
                span Navigate with
                kbd ↑
                kbd ↓
                kbd ←
                kbd →
                kbd Enter
            block content

        footer
            if hide_frit_fit !== true
                p.frit-fit #fritfit (for real)

        +scripts
            script(type="module" src="/scripts/tenfoot/menu.ts")
            block scripts