extends ../components/base_layout
include ../components/service_menu

block content
    +vspace("25px")
    img.big-logo(src="/media/flogo.svg" height="200")
    +vspace("25px")
    +menu(navigation, "")