extends ../components/page_layout

block head
    link(rel="stylesheet" href="/styles/frontpage.scss")

block content
    +vspace("25px")
    img.big-logo(src="/media/flogo.svg" height="200")
    +vspace("25px")
    section.service-links.border-outer
            each key in Object.keys(navigation)
                a(href=navigation[key])
                    .border-inner
                        h3= key