extends ../components/base_layout
block head
    link(rel="stylesheet" href="/styles/links.scss")

block content
    h1 Links to Fklub services
    .links.border-outer
        each key in Object.keys(links)
            a(href=links[key])
                .border-inner
                    h3=key