include /components/core

block head
    link(rel="stylesheet", href="/styles/offline.scss")
block content
    p Du er offline :( Ingen Limfjords Porter til dig...
    img(src="/media/limfjordsporter.png").porter