extends ../components/base_layout

block pug_meta
    - const page_title = "Stregsystemet";

block head
    link(rel="stylesheet" href="../styles/stregsystem.scss")

block content
    +vspace("25px")
    fa-stregsystem