extends ../components/base_layout_tenfoot

block title
    h2 Welcome
        .subtitle Select a service to continue

block content
    +vspace("25px")
    section.service-container
        .service-card(tabindex="0" role="button" data-service="stregsystem")
            .service-icon 💵
            .service-title Stregsystem
            .service-description Browse our collection of wares

        .service-card(tabindex="1" role="button" data-service="songbook")
            .service-icon 🎼
            .service-title Songbook
            .service-description Browse our collection of songs

        .service-card(tabindex="2" role="button" data-service="events")
            .service-icon 📅
            .service-title Events
            .service-description Stream your favorite series

        .service-card(tabindex="3" role="button" data-service="links")
            .service-icon 🌐
            .service-title Links
            .service-description See nice links

        .service-card(tabindex="4" role="button" data-service="exit")
            .service-icon ➜]
            .service-title Exit
            .service-description Leave 10-foot display
