.links {
  text-align: center;
}

.wrap {
  display: block;
}

.wrap-child {
  display: inline-block;
}

.num {
  vertical-align: top;
}

.omkvaed {
  font-style: italic;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}