.links {
  text-align: center;
}

.wrap {
  display: block;
}

.wrap-child {
  display: inline-block;
}

.num {
  vertical-align: top;
}

.chorus {
  font-style: italic;
}

.name {
  font-size: 24;
}
.melody {
  padding-left: 1em;
  font-size: 18;
  font-style: italic;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}