@import "./base.scss";

fa-stregsystem {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 90%;

  &.profile-prompt {
    justify-content: flex-start;

    input {
      margin-bottom: 10px;
    }
  }

  > div {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
  }

}

fa-streg-cart {
  height: 55px;
  border-top: solid var(--fg1) 1px;

  > :nth-child(2) {
    float: right;
  }
}

fa-streg-product {
  @extend .border-inner;
  padding: 12px 8px;

  > span {
    float: right;
  }
}

fa-streg-cart-dialog {
  position: relative;
  width: 100%;
  display: block;

  &[mode="hidden"] {
    display: none;
  }

  &[mode="preview"] dialog {
    width: 100%;
    position: absolute;
    bottom: 22px;
    left: -5%;

    form {
      display: none;
    }
  }

  form {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  dialog {
    background-color: var(--bg1);
    border: none;
    width: 85%;
    height: fit-content;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table td {
    padding-top: 3px;
  }

  table tr > :nth-child(3),
  table tr > :nth-child(4) {
    text-align: right;
  }
}
