@import "./base.scss";

fa-stregsystem {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 90%;

  &.profile-prompt {
    justify-content: flex-start;

    input {
      margin-bottom: 10px;
    }
  }

  > div {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
  }

}

fa-streg-cart {
  height: 55px;
  border-top: solid var(--fg1) 1px;

  :nth-child(2) {
    float: right;
  }
}

fa-streg-product {
  @extend .border-inner;
  padding: 12px 8px;

  > span {
    float: right;
  }
}
